<div class="flex bg-gray-100 justify-center items-center h-screen">
  <div class="w-1/2 h-screen hidden lg:block">
    <%= image_tag "login-image.png", class: "object-cover w-full h-full" %>
  </div>
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <div class='box'>
      <%= yield %>
    </div>
  </div>
</div>