<%= render "partial/dashboard", layout: 'box', user: @user do %>
  <nav class="flex">
    <%= link_to image_tag("plus.svg", border: 0), { action: 'new', controller: "todos"}, class: 'py-2 px-4 bg-blue-500 text-white mr-2 rounded-md cursor-pointer' %>

    <%= link_to 'Hide done', { action: 'hide', controller: "todos"}, class: 'py-2 px-4 bg-blue-500 text-white mr-2 rounded-md cursor-pointer' %>
  </nav>

  <%= render "partial/list_todos", todos: @todos %>
<% end %>