
<h1>New Todo Create, <%= @user.email %></h1>
<p>
  You have have created a new todo "<%= @todo.title %>"
</p>
<% if @todo.due_date %>
  <p>
    with the due_date <%= @todo.due_date %>
  </p>
<% end %>
<% if !@todo.note %>
  <p>
    with the note <%= @todo.note %>
  </p>
<% end %>